<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/index.css">
        <meta charset="UTF-8">
    </head>
<body>
    <header>
            <nav>
                <ul class="nav__links">
                    <li><a href="/order"  style="height:50px">Orders</a></li>
                    <li><a href="/product" style="height:50px">Products</a></li>
                    <li><a href="/customer" style="height:50px">Customers</a></li>
                    <li><a href="/login" style="height:50px">Login</a></li>
                    <li>
                        <form action="/logout?_method=DELETE" method="POST">
                            <button type="submit">Log Out</button>
                        </form>
                    </li>
                </ul>
            </nav>
    </header>
</body>
</html>