<% products.forEach(product => { %>
<div width="100 px" height="100 px">
    <div><%= product.name %> </div>
    <div><%= product.price   %>   </div>
    <a href="/product/<%=product.id%>">Go to product</a>
</div>
<% }) %> 
<a href="product/new">Create Product</a> 
<form method="POST" action="/product/delete?_method=DELETE">
    <button type="submit">DELETE ALL</button>
</form>