<form action="/product" method="POST">
<div>
    <label>Product Name</label>
    <input type="text" name="prodname" required>
    <label>Price</label>
    <input type="number" name="price" required>
</div>
<button type="submit">Create Product</button>
</form>